@model HQServer.WebUI.Models.ProductsListViewModel
    


@{
    ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<h2>@TempData["message"]</h2>

<p>@Html.ActionLink("Add a new product", "Create")</p>

<table class="Grid">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th class="NumericCol">
            Cost Price
        </th>
        <th>
            Current Stock
        </th>
        
        <th>Actions</th>
        <th></th>
    </tr>
@{ 
  foreach (var item in Model.Products) {
    
    <tr>
        <td>@item.productID</td>
        <td>@Html.ActionLink(@item.productName, "Details",new { item.productID })</td>
        <td class="NumericCol">@item.costPrice.ToString("c")</td>
        <td >@item.currentStock</td>
        <td>
        @using (Html.BeginForm("Delete", "Admin")) {
        @Html.Hidden("ProductID", item.productID)
        <input type="submit" value="Delete"/>
         }
        </td>
        <td>@Html.ActionLink("Edit", "Edit", new { item.productID })</td>
    </tr>
 
}
}

</table>


<div class="pager">
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new {page = x}))
</div>