@{
    ViewBag.Title = "InventoryForOutlet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Html.ActionLink("Return to search criteria", "ViewInventoryForOutlet")</h4>

<div class="col-sm-12 col-md-6 col-md-offset-1">
    <div class="row">
        <h2>Inventory for Outlet </h2>
        <p></p>
         <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Barcode</th>
                    <th class="text-center">Selling Price</th>
                    <th class="text-center">Current Stock</th>
                    <th class="text-center">Min. Stock</th>
                    <th class="text-center">Discount</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var item in Model.Inventory)
                    {

                        <tr>
                            <td class="col-sm-1 col-md-1">
                                @item.barcode
                            </td>
                            <td class="col-sm-2 col-md-2" style="text-align: center">
                                @item.sellingPrice.ToString("c")
                              </td>
                            <td class="col-sm-2 col-md-2" style="text-align: center">
                                @item.currentStock
                             </td>
                            <td class="col-sm-1 col-md-1">
                                @item.minimumStock
                            </td>

                            <td class="col-sm-1 col-md-1">
                                @item.discountPercentage
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

