@model  HQServer.WebUI.Models.TransactionDetailsListViewModel

@{
    ViewBag.Title = "TransactionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    @TempData["results"];
}
else
{
  
<div class="col-sm-12 col-md-5 col-md-offset-1">
    <div class="row">
        <h2>Transaction Details</h2>
        <p></p>
             <tr>
        <td><b>ID : @Model.transaction.transactionSummaryID </b></td>
        <td><b>Date : @Model.transaction.date.ToShortDateString()</b></td>
        <td><b>OutletID : @Model.transaction.outletID</b></td>
        </tr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Barcode</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

                @{
    foreach (var item in @Model.TransactionDetail)
    {
        string text = item.transactionSummaryID.ToString();

                        <tr>
                            <td>
                                @item.barcode
                            </td>
                            <td>
                                @item.unitSold
                              </td>
                            <td>
                                @item.cost.ToString("c")
                            </td>
                        </tr>

    }
                }
            </tbody>
        </table>
        <a href="@Url.Action("TransactionsForOutlet", new {@Model.transaction.outletID})" class="btn btn-primary">View all transactions</a>
    </div>
</div>
    
}