@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome !</h2>
<p>
    <h4>@Html.ActionLink("View Product List", "../Admin/Index")</h4>
    <h4>@Html.ActionLink("Search for a Product ", "../Admin/Search")</h4>
    <h4>@Html.ActionLink("View Shops List ", "../Shop/List")</h4>
    <h4>@Html.ActionLink("View All Transactions ", "../Shop/ViewTransactions")</h4>
    <h4>@Html.ActionLink("Upload inventory file ", "../Product/Setup")</h4>
</p>
